In [1]:
import mysql.connector as connector
connection = connector.connect(user = "root" ,port ="3308", password ="" )

In [2]:
cursor = connection.cursor()

In [3]:
query = """use mydb"""
cursor.execute(query)

In [4]:
show_tables_query = "show tables" 
results=cursor.execute(show_tables_query)

In [5]:
tables = cursor.fetchall()
for i in tables:
    print(i)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staffs',)

In [6]:
join_query = """
   select customers.FullName,
    bookings.BookingID, 
    customers.Email,
    customers.PhoneNumber
    from customers join Bookings  on customers.CustomerID = bookings.CustomerID
    join orders  on bookings.BookingID = orders.BookingID
    where orders.TotalCost > 60 order by orders.TotalCost desc; 
"""
cursor.execute(join_query)

In [7]:
customers = cursor.fetchall()
print(f'There are {len(customers)} customer with more than 60$ purchase amount')
print("Top customers: ...")
for customer in customers:
    
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[2]}')
    print(f'Phone Number: \t {customer[3]}')
    print(f'Has spent: \t {float(customer[1])}')

There are 0 customer with more than 60$ purchase amount
Top customers: ...